.MenuTabItem {
  flex: 1;
}

.MenuTabButton {
  width: 100%;
  height: 100%;
  background-color: #132B50;
  border: none;
}

.MenuTabButton:hover {
  background-color: #193969;
}

.MenuButtonTextContainer {
  white-space: 'nowrap';
  font-size: 10px;
  overflow: 'hidden',
}

.MenuTabButtonText {
  white-space: 'nowrap';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}
