
body {
  position: relative;
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  margin: 0;
}

.MenuBar {
  display: flex;
  width: 100vw;
  min-width: min-content;
  height: 30px;
  background-color: #132B50;
  border-bottom: 1px solid #5A6F8D;
}

.MenuBarButton {
  height: 100%;
  padding: 0px 8px 0px 8px;
  background-color: #132B50;
  color: white;
  font-size: 10px;
  border: none;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}

.MenuBarButton:hover {
  background-color: #193969;
}

.PanelContainer {
  display: flex;
  justify-content: space-between;
}

.PanelRight {
  align-items: flex-end;
  width: 20vw;
  height: calc(100vh - 30px);
  background-color: #132B50;
}
